<ion-header>
    <ion-toolbar>
        <ion-title>Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="body">
        <br>
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input [(ngModel)]="apellidos"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Confirmacion</ion-label>
            <ion-input [(ngModel)]="confirmacion" type="password"></ion-input>
        </ion-item>
        <ion-button (click)='Registrar()'>Guardar</ion-button>

    </div>

</ion-content>