<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Musica
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div class="canciones">
        <ion-list *ngFor="let cancion of canciones.canciones; let i = index" (click)='CambiarAudio(cancion.url,cancion.titulo,cancion.artista)'>
            <ion-item>
                <ion-avatar slot="start">
                    <ion-icon name="musical-notes"></ion-icon>
                </ion-avatar>
                <ion-label>
                    <h2>{{cancion.titulo}}</h2>
                    <h3>{{cancion.artista}}</h3>
                    <p>{{cancion.duracion}}</p>
                </ion-label>
            </ion-item>

        </ion-list>
    </div>
    <div id="reproductor">
        <ion-list>
            <ion-item>
                <ion-label>
                    <p>En Reproduccion</p>
                    <h2 id="titulo"></h2>
                    <h3 id="artista"></h3>
                </ion-label>
            </ion-item>
        </ion-list>
        <audio src="{{direccionAudio}}" preload="metadata" id="audio" controls></audio>

    </div>

</ion-content>