<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Usuarios
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Administrar Roles</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card *ngFor="let usuario of usuarios.usuarios; let i = index">
        <ion-card-header>
            <ion-card-subtitle>Nombre: {{usuario.nombre}}</ion-card-subtitle>
            <ion-card-subtitle>Apellidos: {{usuario.apellidos}}</ion-card-subtitle>
            <ion-card-subtitle>Email: {{usuario.email}}</ion-card-subtitle>
            <ion-card-subtitle>Rol: {{usuario.role}}</ion-card-subtitle>

            <ion-item>
                <ion-label>Nuevo Rol</ion-label>
                <ion-select ok-text="Okay" cancel-text="Cancelar" [(ngModel)]="nuevoRole">
                    <ion-select-option value="USER_ROLE">User_Role</ion-select-option>
                    <ion-select-option value="ADMIN_ROLE">Admin_Role</ion-select-option>
                    <ion-select-option value="ROOT_ROLE">Root_Role</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-button color="warning" style="float: right;" (click)="ActualizarUsuario(usuario.id, usuario.nombre)">
                <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
        </ion-card-header>

    </ion-card>

</ion-content>