<ion-header>

    <ion-toolbar>
        <ion-title>Añadir Canciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input [(ngModel)]="titulo"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Artista</ion-label>
        <ion-input [(ngModel)]="artista"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Duracion</ion-label>
        <ion-input [(ngModel)]="duracion"></ion-input>
    </ion-item>

    <br>
    <ion-button (click)='openHost()'>Cargar Cancion '
        <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-button>
    <br>
    <ion-button (click)="guardarCancion()"> Guardar</ion-button>
</ion-content>